.pk-navbar {
  height: 70px;
  justify-content: center;
}

.pk-logo {
  width: 15%;
}

.pk-logo-img {
  width: 150px;
  height: 30px;
}

.pk-search {
  width: 55%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pk-searchBtn {
  background-image: -webkit-linear-gradient(0deg, #ff934b 0%, #ff5e62 100%);
  width: 15%;
  height: 65%;
  border-radius: 0%;
}

.pk-searchIcon {
  color: var(--logo-color);
  font-size: xx-large;
  border: var(--search-border);
  background-color: var(--search-bg);
  padding: 6px;
}

.pk-userOptions {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pk-input {
  width: 90%;
  height: 57%;
  background-color: var(--search-bg);
  border: var(--search-border) solid 1px;
  font-weight: 500;
  font-size: 13px;
  color: var(--black-color);
}

.pk-input:focus {
  outline: none;
  background-color: var(--white-color);
}
